body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
section,
a,
h6 {
  font-family: "callibri", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;

}
button {
  outline: none;
  border: none;
  height: 35px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  display: inline-block;
  color: var(--dark);
}
